@import '/src/style/variables.scss';

.background-block{
  background: linear-gradient(to top left, powderblue, pink);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .registration{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $BgForm;
    padding: 18px;
    border-radius: 8px;
    
    h1{
      font-size:24px;
      color:$HGray;
      margin-bottom: 8px;
    }
  }
}