@import '/src/style/variables.scss';

.sign-in{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $BgForm;
  padding: 18px;
  border-radius: 8px;

  h1{
    font-size:24px;
    color: rgb(75, 70, 70);
    text-align: center;
    margin-bottom: 8px;
  }
}