.field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  label {
    font-size: 12px;
  }

  .field__label {
    color: #797878;
    margin-bottom: 4px;
  }
  .field__error{
    color: red;
    margin-top: 4px;
    min-height: 12px;
  }

  input{
    padding: 0px 12px;
    min-height: 40px;
    border-radius: 4px;
  }

  input[type="checkbox"]{
    padding: 0px 0px;
    min-height: 18px;
  }
}