.field{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  label{
    color: #797878;
    font-size: 12px;
  }

  input{
    padding: 0px 12px;
    min-height: 40px;
    border-radius: 4px;
  }

  input[type="checkbox"]{
    padding: 0px 0px;
    min-height: 18px;
  }
}