form{
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  
  button{
    align-self: center;
    min-height: 40px;
    width: 250px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    background-color:#00a046;
    font-size: 18px;
    color: white;

    &:hover{
      background-color: #44b26f;
    }
    &:disabled{
      background-color:gray;
    }
  }
}