.App{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  padding: 12px;
}
#root{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}